@using System.Globalization
@model RegisAppViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" type="text/css" rel="stylesheet" href="~/css/application.css">
    <link media="all" type="text/css" rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/stix.css" />
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            margin-top: 50px;
            background-color: #606468;
        }

        .A4-paper {
            background-color: #fff;
            font-family: Times New Roman;
            padding: 1cm 1.1cm;
            font-size: 16px;
            line-height: 1.5em;
            margin: 30px auto;
            margin-top: 80px;
            width: 21cm;
            height: 29.7cm;
            display: block;
            -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 30px rgba(50, 50, 50, 1);
        }

            .A4-paper > * {
                font-family: Times New Roman;
                line-height: 1.5em;
            }

        #toolbar {
            margin-top: 10px;
            margin-left: 15px;
        }

        #warnNoti {
            -webkit-box-shadow: 0 2px 9px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 2px 9px rgba(0,0,0,0.5);
            box-shadow: 0 2px 9px rgba(0,0,0,0.5);
        }

            #warnNoti .media {
                margin-top: 0;
            }

        .navbar {
            -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
        }

        #toolbar {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            padding: 5px;
            background-color: #333;
            -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            position: fixed;
            right: 15px;
            bottom: 50px;
        }

            #toolbar button {
                padding-top: 10px;
            }

        #helper {
            -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
        }

        .sttBar {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 5px 10px;
            margin: 0;
            color: #fff;
            font-size: 12px;
            -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
        }

        .sttBar-info {
            background-color: #2b669a;
        }

        .sttBar-warn {
            background-color: #ff8200;
        }
    </style>
    <title>[Hệ thống quản lý đơn và in bảng điểm] Khoa CNTT&TT</title>
</head>
<body>
    <input id="dear" type="hidden" value="@Model.appRegis.Dear">
    <input id="content" type="hidden" value="@Model.appRegis.Content">
    <input type="hidden" id="idApp" value="@Model.appRegis.ApplicationId">
    <input type="hidden" id="idRegis" value="@Model.appRegis.Id">
    <div class="A4-paper">
        <div style="text-align:center"><strong>CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong></div>
        <div style="text-align:center"><u><strong>Độc lập - Tự do - Hạnh ph&uacute;c</strong></u></div>

        <div>&nbsp;</div>

        <div style="text-align:center"><span style="font-size:28px"><strong>ĐƠN XIN X&Aacute;C NHẬN</strong></span></div>

        <div>&nbsp;</div>

        <div style="margin-left:80px"><span style="font-size:14px">&nbsp;</span> <span style="font-size:18px">&nbsp; &nbsp;K&iacute;nh gửi:&nbsp; Ban Gi&aacute;m hiệu&nbsp;</span></div>

        <div style="margin-left:160px"><span style="font-size:18px">&nbsp; &nbsp; &nbsp;Trường&nbsp;C&ocirc;ng nghệ&nbsp;Th&ocirc;ng tin&nbsp;v&agrave;&nbsp;Truyền th&ocirc;ng</span></div>

        <div style="margin-left:160px"><span style="font-size:18px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Trường Đại học Cần Thơ</span></div>

        <div>&nbsp;</div>

        <div>T&ocirc;i t&ecirc;n: <strong>@Model.students.FullName</strong>.&nbsp;M&atilde; số sinh vi&ecirc;n: <strong>@Model.students.UserName</strong></div>

        <div>Ng&agrave;y sinh:&nbsp;<strong>@Model.students.Birthday.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</strong></div>

        <div>Hộ khẩu thường tr&uacute;:&nbsp;<strong>@Model.students.Address</strong></div>

        <div>Mã lớp: @Model.students.ClassName</div>

        <div>Hệ đ&agrave;o tạo: D&agrave;i hạn tập trung (ch&iacute;nh qui) tại Trường Đại học Cần Thơ.</div>

        <div style="text-align:justify">&nbsp; &nbsp; &nbsp; &nbsp;Nay t&ocirc;i l&agrave;m đơn n&agrave;y gởi đến Nh&agrave; trường xin x&aacute;c nhận l&agrave; sinh vi&ecirc;n đang học tại Trường năm học 2022-2023.</div>
        <div id="test3" class="editable">
        </div>
        <div id="test2" class="editable">
            <div id="valuecontent">
            </div>
        </div>
        <div>
            &nbsp; &nbsp; &nbsp; &nbsp;Tr&acirc;n trọng k&iacute;nh ch&agrave;o.
            <div style="margin-left:40px; text-align:center">
                <em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cần Thơ, ngày @DateTime.Today.Day tháng @DateTime.Today.Month năm @DateTime.Today.Year</em><br />
                <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Người l&agrave;m đơn</strong><br />
                <em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (K&yacute; t&ecirc;n)</em><br />
                <br />
                <br />
                <br />
                <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Đỗ Xuân Yên  </strong>
            </div>

            <div style="text-align:center">&nbsp;</div>
        </div>
        ``
        <div style="text-align:center"><strong>&nbsp; &nbsp; X&Aacute;C NHẬN CỦA TRƯỜNG</strong></div>

        <div style="text-align:center"><em>Cần Thơ, ngày @DateTime.Today.Day tháng @DateTime.Today.Month năm @DateTime.Today.Year</em></div>

        <div style="text-align:center"><strong>&nbsp; &nbsp; TL. HIỆU TRƯỞNG TRƯỜNG ĐẠI HỌC CẦN THƠ</strong></div>

        <div style="text-align:center">
            <strong>&nbsp; &nbsp; HIỆU TRƯỞNG&nbsp;TRƯỜNG CNTT V&Agrave;&nbsp;TRUYỀN TH&Ocirc;NG</strong><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <span style="font-size:16px"><strong>Nguyễn Hữu Hòa</strong></span>
        </div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div style="text-align:right">*</div>
    </div>
    <div id="fdata">
        <input type="hidden" name="chitietnhap_ctdt" value="" />
    </div>
    <div id="toolbar" class="btn-group" style="">
        <button data-toggle="tooltip" title="Quay lại danh sách đơn" class="btn btn-default"
                onclick="window.location='/RegisterApplication/Index'">
            <span class="glyphicon glyphicon-arrow-left"
                  style="font-size: 16px"></span>
        </button>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal" title="Nộp đơn này">
            <span class="glyphicon glyphicon-open" style="font-size: 16px"></span>
        </button>
        <button id="saveBtn" class="btn btn-default" title="Lưu đơn này">
            <span class="glyphicon glyphicon-floppy-disk" style="font-size: 16px"></span>
        </button>
        <button type="button" data-toggle="tooltip" title="In đơn này" class="btn btn-default" id="btnPrint">
            <span class="glyphicon glyphicon-print" style="font-size: 16px"></span>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nộp đơn</h4>
                </div>
                <div style="padding: 20px">
                    <p>Bạn có chắc muốn nộp đơn này</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="submitBtn" type="button" class="btn btn-primary">Nộp đơn</button>
                </div>
            </div>

        </div>
    </div>
    <div class="sttBar sttBar-warn">
        <span class="glyphicon glyphicon-info-sign"></span> Đơn này chỉ mới được lưu, chưa được nộp. Đơn này sẽ tự động
        xóa sau 7 ngày.
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/stix.js"></script>
    <script src="/js/test.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">

        $(function(){
            let htmldear = $("#dear").val();
            $("#valuedear").html(htmldear);
            let htmlcontent = $("#content").val();
            $("#valuecontent").html(htmlcontent);
        });

        $("#saveBtn").click(function () {
            var content = $("#test2").html();
            var title = $("#test3").html();
            var id = $("#idApp").val();
            var idRegis = $("#idRegis").val();
            var fdata = {content: content, title: title, id: id, idRegis: idRegis};
            $.ajax({
                url: '/RegisterApplication/Store',
                type: 'post',
                data: fdata,
                success: function(data) {
                    window.location="/RegisterApplication/Index";
                },
                error: function(jqXHR, exception) {
                    if(jqXHR.status === 500)
                        console.log(jqXHR.responseText);
                }
            });
        });
        $("#submitBtn").click(function () {
        var content = $("#test2").html();
        var title = $("#test3").html();
        var id = $("#idApp").val();
        var idRegis = $("#idRegis").val();
        var fdata = {content: content, title: title, id: id, idRegis: idRegis};
         $.ajax({
                url: '/RegisterApplication/Submit',
                type: 'post',
                data: fdata,
                success: function(data) {
                    window.location="/RegisterApplication/Index";
                },
                error: function(jqXHR, exception) {
                    if(jqXHR.status === 500)
                        console.log(jqXHR.responseText);
                }
            });
        });
    </script>
    <script>
        $('#btnPrint').click(function(){

            var win = window.open('','_blank','width=794,height=1123,resizable=no,location=no');
            win.document.write("<style>body {font-family: Times New Roman;padding: 1cm 1.1cm; font-size: 16px;margin:0;line-height: 1.5em;} .menu {display:none}</style>");
            win.document.write($('.A4-paper').html());
            win.focus();
            win.document.close();
            });
    </script>
</body>
</html>