@using System.Globalization
@model SupportRegister.ViewModels.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="background-color: #eee;">
    <div class="overview" style="border-radius: 3px;">
        <div class="container d-flex justify-content-between">
            <img style="background-color:#6571ff; border: 0px; max-width:120px" src="~/img/logo.png" class=" col-lg-4 img-thumbnail" alt="...">
            <div class="container col-lg-8 mt-3">
                <h2>HỆ THỐNG ĐĂNG KÝ ĐƠN VÀ IN BẢNG ĐIỂM</h2>
                <p>Sử dụng hệ thống này, sinh viên có thể nộp đơn, đăng ký in bảng điểm mà không cần phải đến Văn phòng Khoa.</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.FullName</h5>
                        <h5 class="my-3">MSSV: @Model.UserName</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row text-center">
                            <h2 class="btn btn-primary">Thông tin tài khoản</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Họ và tên</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FullName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ngày sinh</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Birthday.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Địa chỉ</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
