@using SupportRegister.WebSite.Models
@using System.Globalization
@model AppsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
 }
@if (ViewBag.SuccessMsg != null)
{
    <div class="alert alert-fill-success position-fixed" id="msgAlert" role="alert" style="z-index: 9999; top: 80px; left: 800px">
        @ViewBag.SuccessMsg
    </div>
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Quản lý đăng ký đơn</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin đăng ký đơn</li>
    </ol>
</nav>
<div class="page-content" style="margin-top:0px">
    <div class="d-flex justify-content-between mb-1">
        <h3>Danh sách đăng ký đơn</h3>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Thông tin đăng ký</h6>
                    <div class="table-responsive">
                        <table class="table" id="dataTableExample">
                            <thead>
                                <tr>
                                     <th>
                                        Số thứ tự
                                    </th>
                                    <th>
                                        Họ và tên
                                    </th>
                                    <th>
                                        MSSV
                                    </th>
                                    <th>
                                        Ngày gửi
                                    </th>
                                    <th>
                                        Ngày nhận
                                    </th>
                                    <th>
                                        Tên Đơn
                                    </th>
                                    <th class="text-center">
                                        Trạng thái
                                    </th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var app in Model.apps.Select((x, i) => new { Data = x, Index = i }))
                                {
                                    <tr>
                                        <td>
                                            @(app.Index +1)
                                        </td>
                                        <td>@app.Data.Student</td>
                                        <td>@app.Data.UserName</td>
                                        <td>@app.Data.DateRegister</td>
                                        <td>@app.Data.DateReceived.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                        <td>@app.Data.NameApp</td>
                                        <td class="text-center">
                                            @if(app.Data.Status == "Đăng ký"){
                                                <p class="btn btn-danger disabled">@app.Data.Status</p>
                                            } 
                                            else if (app.Data.Status == "Xác nhận yêu cầu")
                                            {
                                                <p class="btn btn-warning disabled">@app.Data.Status</p>
                                            } 
                                            else if (app.Data.Status == "Lưu đơn")
                                            {
                                                <p class="btn btn-secondary disabled">@app.Data.Status</p>
                                            }
                                            else
                                            {
                                                <p class="btn btn-success disabled">@app.Data.Status</p>
                                            }
                                        </td>
                                        <td>
                                             <a href="@Url.Action("Update", "Applications", new { studentId = app.Data.StudentId, appId = app.Data.ApplicationId, regisId = app.Data.Id })" style="color: #808080;">
                                                <i class="feather icon-edit" style="font-size: 2em"></i>
                                            </a>
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal@{@app.Index}" style="color: #808080">
                                                <i class="feather icon-delete" style="font-size: 2em"></i>
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal@{@app.Index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Xóa đơn</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="p-2">
                                                            Bạn có chắc muốn xóa đơn của "@app.Data.Student"
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                            <a href="@Url.Action("Delete", "Applications", new { id = app.Data.Id })" class="btn btn-danger">Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
